{
  "scriptId": "REPLACE_WITH_YOUR_APPS_SCRIPT_ID",
  "rootDir": "./src",
  "fileExtension": "gs",
  "filePushOrder": [
    "Main.gs",
    "GmailSender.gs",
    "ThreadResolver.gs",
    "DriveManager.gs",
    "Reporter.gs",
    "Logger.gs",
    "lib/InboxAttachmentManager.gs",
    "actions/ActionSend.gs",
    "actions/ActionReply.gs",
    "actions/ActionReplyAll.gs",
    "actions/ActionFind.gs",
    "actions/ActionGetThread.gs",
    "actions/ActionDownloadAttachment.gs"
  ]
}
